* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  background-color: #F9F1F0;
  font-family: 'Inter', sans-serif;
}

.App {
  width: 550px;
  background-color: white;
}

